body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.panel-nav {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(229, 101, 197, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
}
  
header {
    padding: 10px 20px;
}
  
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-bar img {
    margin-right: 10px;
}
  
.nav-bar a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.nav-bar a:hover {
    background-color: #f0f0f0;
}
  
.search-container {
    display: flex;
    align-items: center;
}
  
.search-container input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.search-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
.search-container button img {
    vertical-align: middle;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown button */
.dropbtn {
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dropbtn:hover {
    background-color: #f0f0f0;
}

.sale {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px; /* Add some space between sale image and text */
}

.trending-text {
    text-align: center;
    padding: 10px;
    font-size: larger;
}



.panel-container {
    display: flex;
    overflow-x: auto; 
    overflow-x: hidden; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    height:400px;
}

.panel {
    flex: 0 0 auto;
    width: 200px; 
    height: 300px;
    background-color: transparent;
    margin-right: 10px; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 10s infinite linear;
}

@keyframes slideIn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 10px));
    }
}

.panel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire panel */
    border-radius: 10px;
    
}

